# Environment variables
.env

# Google Service files
google-services.json
GoogleService-Info.plist

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
android
android/build/
android/app/build/
android/gradle/
android/local.properties
ios/build/
ios/Pods/
ios

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local development
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.log
*.tmp